{% extends "::base.html.twig" %}

{% block title %}All talks {% endblock %}

{% block body %}
<h1 class="icon-talk">Talks</h1>
<p class="filter">
	<a href="#pop_recent">Recently Popular</a> | <a href="#pop_all">Most Popular (All Time)</a>
</p>

<h2>Recent Popular Talks</h2><a name="pop_recent" id="pop_recent"></a>
{% for talk in recent %}
    {% include "joindinTalkBundle:Default:talk_row.html.twig" with { 'talk' : talk } %}
{% else %}
    No talks found.
{% endfor %}

<br>
<br>

<p class="filter">
	<a href="#pop_recent">Recently Popular</a> | <a href="#pop_all">Most Popular (All Time)</a>
</p>
<h2>Popular Talks (All Time)</h2><a name="pop_all" id="pop_all"></a>
{% for talk in alltime %}
    {% include "joindinTalkBundle:Default:talk_row.html.twig" with { 'talk' : talk } %}
{% else %}
    No talks found.
{% endfor %}

{% endblock %}