<div class="ui-widget">
    <div class="ui-state-highlight ui-corner-all">
        <span class="ui-icon ui-icon-info">&nbsp;</span>
        <div class="msg">
        <h4 style="color:#3A74C5">New to Joind.in?</h4> Find out how we can help you make connections whether you're attending or putting on the show. <a href="{{ path("static_about") }}">Click here</a> to learn more!</div>
        <div class="clear"></div>
    </div>
</div>