<div class="box">
    <h4>Currently Open Call for Papers</h4>
    <div class="ctn">
        <ul>
            <li><a href="/event/view/986">PHPNW12</a>
            <li><a href="/event/view/944">Jesie? Linuksowa (Linux Autumn) 2012</a>
            <li><a href="/event/view/985">CakeFest 2012</a><li><a href="/event/view/907">JS.everywhere()</a>
            <li><a href="/event/view/974">PHPCon Poland 2012</a><li><a href="/event/view/952">PHP Conference Brasil 2012</a>
            <li><a href="/event/view/982">PHP Tour Nantes 2012</a>
        </ul>
        <div style="padding-left:20px">
            <a href="/event/callforpapers">more...</a>
        </div>
    </div>
</div>