{# This should be handled differently.. We only show the CFP box when CFP is defined in the view. Maybe we want to do
 #  this differently, so we can easily decide on which pages the CFP box is available? #}
{% if cfp is defined %}
<div class="box">
    <h4>Currently Open Call for Papers</h4>
    <div class="ctn">
        <ul>
{% for event in cfp %}
            <li><a href="{{ path("joindinEventBundle_view_details", { id: event.id })}}">{{ event.eventName }}</a>
{% endfor %}
        </ul>
        <div style="padding-left:20px">
            <a href="{{ path("joindinEventBundle_callforpapers_events")}}">more...</a>
        </div>
    </div>
</div>
{% endif %}