<div class="box">
    <h4>Currently Open Call for Papers</h4>
    <div class="ctn">
        <ul>
{% for event in cfp %}
            <li><a href="{{ path("joindinEventBundle_view_details", { id: event.id })}}">{{ event.eventName }}</a>
{% endfor %}
        </ul>
        <div style="padding-left:20px">
            <a href="{{ path("joindinEventBundle_callforpapers_events")}}">more...</a>
        </div>
    </div>
</div>