<div class="box">
    <h4>Sign in</h4>
    <div class="ctn">

        <form action="https://joind.in/user/login" method="post" class="form-login">
            <input type="hidden" name="hash" value="6e79c228be2027475323c157be7df0c3">

            <div class="row">
                <label for="sidebar_user">Username</label>
                <input type="text" name="user" value="" id="sidebar_user"  />
                <div class="clear"></div>
            </div>

            <div class="row">
                <label for="sidebar_pass">Password</label>
                <input type="password" name="pass" value="" id="sidebar_pass"  />
                <div class="clear"></div>
            </div>

            <div class="row row-buttons">
                <input type="submit" name="sub" value="Login" class="btn"  />
                <a style="margin-left:10px" href="/user">Forgot your password?</a>
            </div>
        </form>

        <p>
            Or login via these services:<br/>
            <a href="/twitter/request_token"><img src="/inc/img/signin_twitter.png" alt="Sign in with twitter" title="Sign in with twitter" /></a>
        </p>

        <p>
            <a href="/facebook/request_token"><img src="/inc/img/signin_facebook.png" alt="Sign in with Facebook" title="Sign in with Facebook" /></a>
        </p>

        <p>
            <small>Need an account? <a href="/user/register">Register now!</a></small><br/>
            <small><a href="/user/forgot">Forgot Password</a></small>
        </p>
    </div>
</div>