<div class="box">
    <h4>Submit your event</h4>
    <div class="ctn">
        <p>
            Know of an event happening? Let us know! We love to get the word out about events the community would be interested in and you can help us spread the word!
        </p>
        <p style="text-align:center">
            <a href="/event/submit" class="btn-big">Submit your event!</a>
        </p>
    </div>
</div>
