<div class="box">
    <h4>Navigation</h4>
    <div class="ctn">
        <ul>
            <li><a href="/user/main">Dashboard</a></li>
            <li><a href="/user/manage">Manage Account</a></li>
            <li><a href="/user/apikey">API Keys</a></li>
            <li><b>My Activities:</b>
                <ul>
                    <li><a href="/user/main">My Talks</a></li>
                    <li><a href="/user/main">My Sessions</a></li>
                </ul>
            </li>

{% if is_granted('ROLE_SITE_ADMINISTRATOR') %}
            <li><b>Admin Links</b>
                <ul>
                    <li><a href="/user/admin">User Admin</a></li>
                    <li><a href="/event/pending">Pending Events</a>
                        {% if pendingEvents(app.user) | length > 0 %} ({{ pendingEvents(app.user) | length}}) {% endif %}
                    </li>
                    <li><a href="/talk/claim">Talk Claims</a>
                        {% if talkClaims(app.user) | length > 0 %} ({{ talkClaims(app.user) | length}}) {% endif %}
                    </li>
                    <li><a href="/event/claims">Event Claims</a>
                        {% if eventClaims(app.user) | length > 0 %} ({{eventClaims(app.user) | length}}) {% endif %}
                    </li>
                </ul>
            </li>
{% endif %}
        </ul>
    </div>
</div>