<h4>Check out who's attending!</h4>
    <div class="ctn">
{% for attendee in event.attendees %}
        <a href="/user/view/{{ attendee.id }}">
          <img src="{{ gravatar(attendee.email, 20, "g") }}" height="20" width="20" style="margin:2px" alt="{{ attendee.fullname }}" title="{{ attendee.fullname }}"/>
        </a>
{% else %}
        Nobody is attending yet.
{% endfor %}
    </div>

</div>