<div class="row row-event">
    <div class="img">
        <div class="frame">
            <a href="/event/view/14"><img src="/inc/img/event_icons/none.gif" alt="{{ event.eventName }}" height="90" width="90" /></a>
        </div>
    </div>
    <div class="text">
        <h3><a href="/event/view/14">{{ event.eventName }}</a></h3>
        <p class="info">
            <strong>06.May.2012</strong>
            - <strong>07.May.2012</strong> at <strong>Brundidge</strong>
        </p>
        <div class="desc">
            <p>{{ event.eventDesc }}</p>
        </div>
        <p class="opts">
            <a href="/event/view/14#comments">3 comments</a> |
            <strong><span class="event-attend-count-14">10</span> attending</strong> |
            <!--<input type="checkbox" name="attend" value="1"/> Attending?-->
            <a class="btn-small" href="#" onclick="markAttending(this,14,false);return false;">I'm attending</a>
        </p>
        <div class="desc" style="padding-top:6px"></div>
    </div>
    <div class="clear"></div>
</div>
