{% extends "::base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<div class="box">
    <h2 class="h1 icon-event">Blog</h2>

    <p>Not yet implemented :(</p>
</div>

{% endblock %}