{% extends "::base.html.twig" %}

{% block title %}All events {% endblock %}

{% block body %}
<div class="box">
<h2 class="h1 icon-event">All Events <a class="more" href="/event/hot">More &raquo;</a></h2>

{% for event in events %}
    {% include "joindinEventBundle:Default:event_row.html.twig" %}
{% else %}
    No events found.
{% endfor %}

</div>

{% endblock %}